[submodule "lib/LPS22HB"]
	path = lib/LPS22HB
	url = https://github.com/stm32duino/LPS22HB.git
[submodule "lib/HTS221"]
	path = lib/HTS221
	url = https://github.com/stm32duino/HTS221
[submodule "lib/SdFat"]
	path = lib/SdFat
	url = https://github.com/greiman/SdFat
[submodule "lib/Sparkfun_LSM9DS1"]
	path = lib/Sparkfun_LSM9DS1
	url = https://github.com/sparkfun/SparkFun_LSM9DS1_Arduino_Library